@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap');

body{
    
    background: #ffffff;
}
.container {
    max-width: 1280px;
    margin-top: 50px;
    margin-left: 240px;
    background-color: #ffffff;
    margin: auto;
}
.container-save-data{
    background: url(../image/image1\ 1.png) right 65%/73% no-repeat;
    padding-top: 130px;
}

.imgfooter1{
    padding-top: 12px;
    width: 20px;
    height: 20px;
    left: 240px;
    top: 77px;
    background: #9C69E2;
    border-radius: 20px;
}
.imgfooter2{
   margin-left: 10px;
    padding-top: 12px;
    width: 20px;
    height: 35px;
    left: 269px;
    top: 62px;
    background: #F063B8;
    border-radius: 20px;
}

.btn-footer1 {
    width: 53px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    background: #ffffff;
    border: #ffffff;
    margin-left: 124px;
    cursor: pointer;
    
}
.btn-footer2{
    margin-left: 40px;
    width: 35px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    background: #ffffff;
    border: #ffffff;
    cursor: pointer;
}
.btn-footer3 {
    margin-left: 40px;
    width: 63px;
    height: 26px;
    left: 578px;
    top: 67px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    background: #ffffff;
    border: #ffffff;
    cursor: pointer;
}
.btn-footer4 {
    margin-left: 40px;
    width: 51px;
    height: 26px;
    left: 681px;
    top: 67px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    background: #ffffff;
    border: #ffffff;
    cursor: pointer;
}
.btn-footer5 {
    margin-left: 418px;
    width: 210px;
    height: 50px;
    left: 1150px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border-color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.container-save-data{
    height: 700px;
}
.title-save-data{
    width: 645px;
    height: 184px;
    left: 246px;
    top: 240px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
    
}
.bgimage{

width: 885px;
height: 468px;
left: 603px;
top: 336px;
background: url(../image/image1\ 1.png);
}
.info-save-data{
    padding-top: 50px;
    width: 380px;
    height: 120px;
    left: 246px;
    top: 474px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.btn-learn{
    width: 170px;
    height: 60px;
    left: 246px;
    top: 644px;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}
.btn-learn-style{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.info-for-bank{
    width: 1117px;
    left: 246px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margin-bottom: 100px;
}
.container-info-for-bank{
    max-width: 1117px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-info-bank{
    
    width: 477px;
    height: 504px;
}
.title-info-bank{
    width: 475px;
    height: 100px;
    left: 790px;
    top: 1028.18px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}
.p-info-bank{
width: 474px;
height: 170px;
left: 790px;
top: 1168.18px;
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
}
.container-info-bank{
left: 790px;
width: 475px;
height: 310px;
margin-top: 125px;
margin-left: 550px;
margin-bottom: 125px;
}
.features-container{ 
    max-width: 1248px;
    padding: 0 50px;
    box-sizing: content-box;
}
.h2-features{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #212353;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}
.feature-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 343px;
    padding-right: 343px;
}
.p-features{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;  
    color: #4B5D68;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}
.card-block{
    display: flex;
    max-width: 1117px;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
}
.card{
    width: 520px;
    flex-shrink: 0;
    height: 355px;
    display: flex;
    padding-top: 80px;
    column-gap: 30px;
    
} 
.content h3{
    font-size: 24px;
    color: #212353;
    margin-bottom: 20px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    
}
.content p{
    color: #4B5D68;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}
.feature-btn{
    background: url(../image/line-left.svg ) 88% 50% no-repeat;
    color: #212353;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    padding: 15px 60px 15px 15px;
    border-radius: 50px;
    position: relative;
    transition: all 0.1s linear 0s;
    overflow: hidden;
    border-color: #FFFFFF;
    border: none;
    cursor: pointer; 
}
.Testimonials-container{
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
.Testimonials{
    max-width: 1118px;
    background-color: #9C69E2;
    border-radius: 50px;
    margin-left: 50px;
    padding-top: 50px;
    height: 709px;
}
.testimonials1{
    margin-left: 93px;
    margin-top: 109px;
    margin-right: 76px;
}
.testimonials1 h2{
    padding-bottom: 74px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.John{
    background-color: #FFFFFF;
    height: 330px;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;

}
.imgjohn{
    padding-left: 103px;
    padding-top: 60px;

}
.comment{
margin-left: 44px;
margin-top: 80PX;
margin-right: 150PX;  
}
.comment h6{
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 160%;
letter-spacing: 0.005em;
color: #212353;
margin-bottom: 0;
margin-top: 0;
}
.comment a {
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 160%;
letter-spacing: 0.01em;
color: #9C69E2;
}
.comment p{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180%;
color: #4B5D68;
}
.testimonials-down{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.ellipse1{
    margin-right: 5px
}
.lines-leftt{
    margin-right: 20px 
}
.footer{
    max-width: 1248px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
.footer-container{
    max-width: 1117px;
    margin-left: 55px;
    margin-top: 100px;

}

.footer-section{
    display: flex;
    justify-content: space-between;
}

.footer-section h2{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}
.footer-section p{
    width: 584px;
    height: 29px;
    left: 240px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.bnt-footer-1{
    width: 210px;
    height: 60px;
    left: 947px;
    background: #F063B8;
    border-radius: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
}
.bnt-footer-2{
    width: 210px;
    height: 60px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 153px;
}
.left-menu-container{
display: flex;
flex-direction: column;}

.DataWarehouse{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 50px;

}

.DataWarehouse h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    height: 30px;
}
.nav-footer{
    flex: 0 1 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 130px;
}
.contacts-adress{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin-top: 10px;
}
.contacts-mail{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin-bottom: 110px;
}
.company-info{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}

ul li{
    list-style: none;
}
.footer-item{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}
.footer-item1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    padding-bottom: 30px;
}
.footer-item2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    margin: 10px;
    padding-top: 7px;
    margin-bottom: 30px;
}
.link-icon{
    margin-bottom: 300px;
}
.message{
    padding-left: 80px;
}

